@mixin btn(){
    text-decoration: none;
    width: auto;
    cursor: pointer;
    display: block;
    border:0;
    text-align: center;
    margin-bottom: 0.7rem;
    margin-top: 0.7rem;
    border-radius: $base-border-radius;



}

@each $key, $val in $colors {
    .btn-#{$key}{
        @include btn();
        background-color: $val;

    }

    .btn-outlined-#{$key}{
        @include btn();
        background-color: $val;
        background-color: white;
        border: $base-border-thickness solid $val;

        @media (max-width:1000px) {
            padding: 0.5rem;
        }
        &:hover {
            background-color: $val;
            transition: all 0.3s ease;

        }

    }
}